

    <div class="container-fluid">
<div class="row">
    <div class="col col-sm-6 col-md-6">
<h1  style="color:red;">welcome to handlebars</h1> <p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt nesciunt, aspernatur excepturi neque sapiente dolorum nihil minima, atque aut temporibus alias voluptates sed sit tempora laboriosam magni placeat, veniam laudantium.
    
    </div>
    <div class="col col-sm-6 col-md-6">
        <h1  style="color:red;">welcome to handlebars</h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quod, vel mollitia voluptatibus repellendus, animi deleniti ipsam culpa, ipsum nisi perferendis rem consectetur sequi facilis dolores odio quidem fugiat esse.</p>
    </div>
</div>
    </div>
   
